.card {
    max-width: 80%;
    height: 400px;
    border-radius: 100px;
    border: .08em solid rgba(27, 38, 49, 0.801); 
    /* background-color:; */
}
.media {
    height: 0px;
    padding-top: 10px;
    border: .28em solid red; 
}

.aa {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    border: 2px solid darkorange !important;
    height: 250px;
    background-image: url("../../Icons/cn4.jpg");
}