body {
  font-family: sans-serif;
  background-color: salmon;
}

a.active {
  background-color: salmon !important;
  color: pink;
  /* font-size: 17px; */
  opacity: .75;
  transition: opacity 0.5s linear;
}