.dropdown {
    margin-left: 7px;
    display: inline-block;
    text-align: right;
    direction: rtl;
    padding: 7px;
    background-color: inherit;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .dropdown {
        display: none;
    }
}